CGIBIN_DIR="$MY_DEB_DESTDIR/usr/local/etc/httpd/cgi-bin"
BASE_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter"
CONFIG_FILE="count.cfg"
CONFIG_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter/conf"
DIGIT_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter/digits"
DATA_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter/data"
LOG_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter/logs"
LOG_FILE="Count2_5.log"
RGB_FILE="./data/rgb.txt"
RGB_DIR="$MY_DEB_DESTDIR/usr/local/etc/Counter"
